<?xml version="1.0"?>
<MethodsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Methods>
    <Item MethodDesc="循环打印" MethodName="Write" MethodCode="1001" Assembly="Lazywg.Console" ClassType="Lazywg.Console.Algorithm" ClassName="Algorithm" />
    <Item MethodDesc="字符串排序" MethodName="StrOrder" MethodCode="1002" Assembly="Lazywg.Study, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" ClassType="Lazywg.Console.Algorithm" ClassName="Algorithm" />
    <Item MethodDesc="重复复制字符串" MethodName="RepeatCopyStr" MethodCode="1003" Assembly="Lazywg.Console" ClassType="Lazywg.Console.Algorithm" ClassName="Algorithm" />
    <Item MethodDesc="获取对象" MethodName="GetObj" MethodCode="1004" Assembly="Lazywg.Common" ClassType="Lazywg.Common.TestHandler" ClassName="TestHandler" />
    <Item MethodDesc="隐式转换" MethodName="Test" MethodCode="1005" Assembly="Lazywg.Study" ClassType="Lazywg.Study.TestImplicit" ClassName="TestImplicit" />
    <Item MethodDesc="输出用户信息" MethodName="WriterUser" MethodCode="1006" Assembly="Lazywg.Console" ClassType="Lazywg.Console.Algorithm" ClassName="Algorithm" />
  </Methods>
</MethodsConfig>