<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- 合作身份者ID，签约账号，以2088开头由16位纯数字组成的字符串-->
  <add key="Partner" value="2088102169688009"/>
  <!--pc支付宝支付网关-->
  <add key="GatWay" value="https://mapi.alipay.com/gateway.do?"/>
  <!-- MD5密钥，安全检验码，由数字和字母组成的32位字符串-->
  <add key="MD5Key" value=""/>
  <!--商户的私钥,原始格式-->
  <!--<add key="RSAKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCzf2h/OeayaGxAm+yqVdpSkHvI 3YCbZJ2dfJ09CbyqkLk0uFeneMRbTefYxVzpwok2juYuhLSxpAMtHmUF0+VaO53+ n4SVPXHW8+wL9np8xWoK5rl+8Kig/phMo+KLnXsokCo0nk0UJlC0H5/RrXeFw1LF LtrugEYrtA42w4q9nQIDAQAB"/>-->
  <!--商户的私钥,pem文件-->
  <add key="RSAKeyFile" value="rsa_private_key.pem"/>
  <!--支付宝的公钥-->
  <add key="AlipayKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDIgHnOn7LLILlKETd6BFRJ0GqgS2Y3mn1wMQmyh9zEyWlz5p1zrahRahbXAfCfSqshSNfqOmAQzSHRVjCqjsAw1jyqrXaPdKBmr90DIpIxmIyKXv4GGAkPyJ/6FTFY99uhpiq0qadD/uSzQsefWo0aTvP/65zi3eof7TcZ32oWpwIDAQAB"/>
  <!--签名方式 MD5 RSA-->
  <add key="SignType" value="RSA"/>
  <!--服务器异步通知页面路径，需http://格式的完整路径，不能加?id=123这类自定义参数,必须外网可以正常访问-->
  <add key="NotifyUrl" value="http://192.168.1.108:8088/Alipay/NotifyPage.aspx"/>
  <!--页面跳转同步通知页面路径，需http://格式的完整路径，不能加?id=123这类自定义参数，必须外网可以正常访问-->
  <add key="ReturnUrl" value="http://192.168.1.108:8088/Alipay/ReturnPage.aspx"/>
  <!--调试用，创建TXT日志文件夹路径-->
  <add key="LogPath" value="D:/logs"/>
  <!--字符编码格式 目前支持 gbk 或 utf-8-->
  <add key="InputCharset" value="utf-8"/>
  <!--支付类型-->
  <add key="PaymentType" value="1"/>

  <!--手机应用发起支付宝支付-->
  <add key="AppID" value="2016080300153493"/>
  <!--手机支付网关-->
  <add key="AppGatWay" value="https://openapi.alipaydev.com/gateway.do"/>  
  <!--应用RSAKey-->
  <add key="AppRSAKey" value=""/>
  <!--应用RSAKey file-->
  <add key="AppRSAKeyFile" value="rsa_private_key.pem"/>
  <!--支付宝的公钥-->
  <add key="AppAlipayKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDIgHnOn7LLILlKETd6BFRJ0GqgS2Y3mn1wMQmyh9zEyWlz5p1zrahRahbXAfCfSqshSNfqOmAQzSHRVjCqjsAw1jyqrXaPdKBmr90DIpIxmIyKXv4GGAkPyJ/6FTFY99uhpiq0qadD/uSzQsefWo0aTvP/65zi3eof7TcZ32oWpwIDAQAB"/>
  <!--服务器异步通知页面路径，需http://格式的完整路径，不能加?id=123这类自定义参数,必须外网可以正常访问-->
  <add key="AppNotifyUrl" value="http://192.168.1.108:8088/Alipay/NotifyPage.aspx"/>
  <!--页面跳转同步通知页面路径，需http://格式的完整路径，不能加?id=123这类自定义参数，必须外网可以正常访问-->
  <add key="AppReturnUrl" value="http://192.168.1.108:8088/Alipay/ReturnPage.aspx"/>
  
</appSettings>
