<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <!--访问的url-->
    <add key="HttpJsonFile" value="HttpJson.json"/>
   
    <!--一小时-->
    <add key="SleepTime" value="20000"/>
    
    <!--日志 C:\logs-->
    <add key="LogFile" value=""/>

    <!--是否调试-->
    <add key="IsDebug" value="true"/>
    
  </appSettings>
</configuration>