<?xml version="1.0"?>
<MethodsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Methods>
    <Method MethodDesc="循环打印" MethodName="Write" MethodCode="1001" Assembly="Lazywg.Console" NameSpace="Lazywg.Console" ClassName="Algorithm" />
    <Method MethodDesc="字符串排序" MethodName="StrOrder" MethodCode="1002" Assembly="Lazywg.Console" NameSpace="Lazywg.Console" ClassName="Algorithm" />
    <Method MethodDesc="重复复制字符串" MethodName="RepeatCopyStr" MethodCode="1003" Assembly="Lazywg.Console" NameSpace="Lazywg.Console" ClassName="Algorithm" />
  </Methods>
</MethodsConfig>