<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- 合作身份者ID，签约账号，以2088开头由16位纯数字组成的字符串-->
  <add key="Partner" value="2088911909088342"/>
  <!-- MD5密钥，安全检验码，由数字和字母组成的32位字符串-->
  <add key="MD5Key" value=""/>
  <!--商户的私钥,原始格式-->
  <!--<add key="RSAKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDsFSkDbiVGoi3bbtKb9LwWGQ+wDokl+fyQcDA3OVajHv+h2YkD10eZPHAkO+gwhDCI6Qx+uKdFlkx1BiPgviesLJtUHTnsKuzgqb+AQGpr+ZHKORm30OgVl6NW5g1Kx28YnAaJkQSeWcbQIoVNuYajN3zVXSDQd1vPY0WS/SLD/wIDAQAB"/>-->
  <!--商户的私钥,pem文件-->
  <add key="RSAKeyFile" value="Configs\rsa_private_key.pem"/>
  <!--支付宝的公钥-->
  <add key="AlipayKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB"/>
  <!--签名方式 MD5 RSA-->
  <add key="SignType" value="RSA"/>
  <!--服务器异步通知页面路径，需http://格式的完整路径，不能加?id=123这类自定义参数,必须外网可以正常访问-->
  <add key="NotifyUrl" value="http://192.168.1.108:8088/Alipay/NotifyPage.aspx"/>
  <!--页面跳转同步通知页面路径，需http://格式的完整路径，不能加?id=123这类自定义参数，必须外网可以正常访问-->
  <add key="ReturnUrl" value="http://192.168.1.108:8088/Alipay/ReturnPage.aspx"/>
  <!--调试用，创建TXT日志文件夹路径-->
  <add key="LogPath" value="D:/logs"/>
  <!--字符编码格式 目前支持 gbk 或 utf-8-->
  <add key="InputCharset" value="utf-8"/>
  <!--支付类型-->
  <add key="PaymentType" value="1"/>

</appSettings>
